/*stili colonne*/
[class*="col-"] {
    border: 1px solid #000000;
    text-align: center;
    height: 100px; /*messa solo per evidenziare meglio le colonne*/
    background-color: #FFC0CB;
    vertical-align: middle; 
}

[class*="col-"].nested {
    background-color: #F07F80;
    border-color: #FFFFFF;
    height: 90px;
}

[class*="col-"] > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.card {
    padding: 5px 5px;
}