/*stili colonne*/
[class*="col-"] {
    border: 1px solid #000000;
    text-align: center;
    padding: 100px 0; /*messo solo per evidenziare meglio le colonne*/
    background-color: #FFC0CB; 
}

[class*="col-"].nested {
    background-color: #F07F80;
    border-color: #FFFFFF;
    margin: -90px 0;
}

.card {
    padding: 0 5px;
}